<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="listener-sqs"/>

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <!-- timestamp -->
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <!-- nível, logger, thread -->
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread"
                        }
                    </pattern>
                </pattern>

                <!-- mensagem -->
                <message/>

                <!-- MDC (inclui correlation_id e também dd.trace_id/span_id se o agent preencher) -->
                <mdc/>

                <!-- nome da aplicação -->
                <pattern>
                    <pattern>
                        { "service": "${APP_NAME}" }
                    </pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
    </root>

</configuration>
